# General config
APP_NAME="demo_auth"
APP_HOST="0.0.0.0"
APP_PORT=3000

# Database
DATABASE_USER=demo_auth
DATABASE_PASSWORD=demo_auth
DATABASE_DB=demo_auth
DATABASE_URL=postgres://demo_auth:demo_auth@localhost/demo_auth